*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul {
    list-style: none;
}
html, body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    padding: 50px 100px  ;
    justify-content: space-between;
    align-items: center;
}
header  ul {
    display: flex;
    gap: 35px;
    
}
header img{
    width: 150px;
    
}
header nav li:hover{
 color: rgb(8, 102, 169);
 cursor: pointer;
}
header nav li i{
    font-size: 16px;
}
aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding:10px 40px;
    gap: 500px;
    background-color: rgb(242, 242, 242);

}
aside ul{
    display: flex;
    font-size: small;
    color: black;
    gap: 2px;
}
aside ul :hover{
    cursor: pointer;
   text-decoration: underline;
}
aside a{
    color: black;
    text-decoration: none;
}
h4{
    display: flex;
    align-items: center;
   font-weight: 80;
}
section h2{
    margin-top: 40px;
    margin-left: 90px;
    
}
 section nav ul{
    display: flex;
    margin-left: 50px; 
     gap: 10px;
     margin-top: 16px;
}
#www{
  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVKjx8BGT-PODhmoMOFEPMjpQR9nH-xwq9Og&s);
    margin:-19px 100px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 5px;
}

.bo h1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 90px;
     margin-bottom: 15px;
}
.bo ul li{
    margin-top: 17px;
    display: flex;
    padding-left: 10px;
    align-items: end;
     margin-bottom: 15px;
}
 button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-bottom: 15px;
     
}
.bo{
    background-color: rgb(232, 227, 222);
    gap: 25px;
    display: flex;
    justify-content:space-between;
   align-items: center;
    margin: 20px 100px; 
    box-shadow: 3px 3px 5px; 
}
.zz{
    padding-top: 180px;
    padding-left: 100px;
    
}
.zz h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.design{
    
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 140px;
    padding-left: 100px;
    border: yellowgreen;
    padding-top: 50px;
}
.des {
    display: flex;
   padding-left: 200px;
    gap: 100px;
    font-size: 10px;
   
}
.border{
  
  background-color: blanchedalmond;
   margin-top: -100px;
   margin-bottom: 200px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 70px;
    box-shadow: 3px 3px 5px; 
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#icon {
    display: flex;
  justify-content: center;
  align-items: center;
}
.preview {
    padding: 15px 50px;
    font-size: medium;
    background-color: white;
    color: blue;
    border-color: blue;
    transition: all;
}
.preview:hover{
 background-color: blue;
 color: white;
 cursor: pointer;
 transition: all;

 
} 
.buy{
    padding: 15px 50px;
    font-size: medium;
    background-color: rgb(72, 108, 19);
    color: rgb(255, 255, 255);
    border-color: rgb(170, 195, 133) ;
}
.buy:hover{
    cursor: pointer;
  background-color: green;  
   transition: 1s;
}


